{% extends 'base.html' %}
{% block title %}
    About
{% endblock %}
{% block content %}
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../static/assets/images/kanenori-sunset-7133867_1280.jpg" class="d-block w-50" alt="">
    </div>
    <div class="carousel-item">
        <img src="../../static/assets/images/himmelstraeume-bachalpsee-7572681_1280.jpg" class="d-block w-50" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../static/assets/images/pexels-audience-1853662_1280.jpg" class="d-block w-50" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

    <div class="container">
        <h3>Welcome to my First Project</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Eius ipsa perspiciatis provident repudiandae velit?
            A aliquam deleniti deserunt eos maiores minima quia rerum saepe tenetur.
        </p>

        <h3>My Page</h3>
        <ul class="styled-list">
            <li>Home</li>
            <li>About</li>
            <li>Services</li>
            <li>Portfolio</li>
            <li>Contact</li>
        </ul>
    </div>
{% endblock %}
