{% extends 'base.html' %}
{% block title %}
    Home
{% endblock %}
{% block content %}

    <h1>Visit Giraffe Centre</h1>
    <p>Find us in Lang’ata, Nairobi, Kenya</p>

    <div class="section">

        <!-- MAP (LEFT) -->
        <div class="map-container">
            <iframe
                src="https://www.google.com/maps?q=Giraffe+Centre+Nairobi&output=embed"
                allowfullscreen=""
                loading="lazy">
            </iframe>
        </div>

        <!-- FORM (RIGHT) -->
        <div class="form-container text-success">
            <h3>Send Us a Message</h3>
            <form>
                <input type="text" placeholder="Enter your name" required>
                <input type="email" placeholder="Enter your email" required>
                <textarea rows="5" placeholder="Description..." required></textarea>
                <button type="submit">Submit</button>
            </form>
        </div>

    </div>

{% endblock %}
